<% include header %>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <% include navbar-header %>
            <!-- /.navbar-header -->
            <% include navbar-side %>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Spiritual" class="progress-bar" role="progressbar">
                            Spiritual
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Metabolic" class="progress-bar" role="progressbar">
                            Metabolic
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Agonistic" class="progress-bar" role="progressbar">
                           Agonistic
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Algetic" class="progress-bar" role="progressbar">
                            Algetic
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Creative" class="progress-bar" role="progressbar">
                            Creative
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Emotive" class="progress-bar" role="progressbar">
                            Emotive
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Hedonic" class="progress-bar" role="progressbar">
                            Hedonic
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Intellectual" class="progress-bar" role="progressbar">
                            Intellectual
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="progress">
                        <div id="Phobic" class="progress-bar" role="progressbar">
                            Phobic
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="message_counter">0</div>
                                    <div>Channel Messages!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="huge" id="wealth">0</div>
                                    <div>Wealth!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="race">Kentaur</div>
                                    <div>Current Race</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" id="command_text" class="form-control" aria-label="Text input with multiple buttons">
                        <div class="input-group-btn">
                            <button type="button" id="send_command" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style='background-color: black; color: grey;'>
                            <div id="mud_messages"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<% include footer %>